.test-case-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.test-case-wrap .submit-btn{
  position: absolute;
  right:20px;
  top:10px;
}
.project-environment-wrap{
  position: relative;
  width: 100%;
  height: 100%;
}
.layui-table-cell {
  overflow: visible;
}
.project-environment-wrap .layui-input{
  height: 28px;
}
